header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    margin: auto;
}